<div id="robot-textbox">
	<div id="robot-text">
		Hello, <span class="titleize">{{thisUser.name}}</span>.
		<br>Here are all of the articles that you have saved
	</div>
	<a href="/">Logout</a>
</div>
<button id="home-button" data-username="{{thisUser.username}}">Home</button>
<div id="articles-place">{{#each availableArticles}}
	<div class="article">
		<br>
		<a href="{{this.link}}"><div class='article-title'>{{this.title}}
		</div></a>
		<br>
		<div class='article-summary'>{{this.summary}}</div>
		<br>
		<div class="buttons">
			<button class='save-button' data-articleId="{{this._id}}">Save</button>
		</div>
		<div class="commentsAvailable">
			<a href="/article/{{this._id}}/{{../thisUser.username}}">View comments</a>
		</div>
	</div>
	<br>
	{{else}}
		<span style="text-align: center">Save some articles!</span>
{{/each}}</div>